:root{
    --First-color:#161624;
    --Second-color:#f2363c;
    --third-color:#573b8a;
  } 
  .bg{
      height:100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('../../../assets/images/sign-image.webp');
    background-size:cover ;
    background-position:right;
  }
  .main{
    width: 350px;
    background-color: rgba(0, 0, 0, 0.700);
    height: 550px;
    
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
  }
  #chk{
    display: none;
  }
  .signup{
    position: relative;
    width:100%;
    height:100%;
  }
  .user-box {
    position: relative;
    width :60%;
    margin:0px auto;
  }
  button{
      width: 60%;
      height: 40px;
      margin: 10px auto;

      justify-content: center;
      display: block;
      color: #fff;
      background: #573b8a;
      font-size: 1em;
      font-weight: bold;
      margin-top: 10px;
      outline: none;
      border: none;
      border-radius: 5px;
      transition: .2s ease-in;
      cursor: pointer;
  }
  button:hover{
    background: #6d44b8;
  }
  
  #chk:checked ~ .signup .sig{
    transform: scale(.6);
    margin-top:10px;
  }
  .user-box label {
    position: absolute;
    top:0px;
    left: 0px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  .user-box input {
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #f2363c;
    font-size: 12px;
    font-weight:bold;
  }
  label[for="chk"] {
      font-size: 2.3em;
      justify-content: center;
      display: flex;
      font-weight: bold;
      cursor: pointer;
      transition: .5s ease-in-out;
  } 
  .sig{
    color:#fff;
      margin: 40px;
  }
  .log{
      margin: 80px;
  }
  
  